.timer {
  &__wrap {
    position: relative;

    display: flex;
    align-items: center;

    padding: 20px;

    border: 1px solid $red;
    border-radius: 5px;
    background-color: $red-100;

    font-size: 16px;
    color: $red-500;
    font-weight: 400;
    text-align: center;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}